.container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  max-width: 320px;
}

.wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  width: 300px;
  margin-left: 12px;
  font-size: 16px;
}

.add {
  margin-top: 20px !important;
}
